#nav{
	height: 36px;
	float: right;
    position: relative;
    z-index: 1;
}

.material-icons{
	padding: 12px;
	cursor:pointer;
	color:#4f4d56;
	transition: color 0.4s;
	user-select: none;
}
.material-icons:hover{
    background-color: #ffffff30;
}


aside {
    position: absolute;
    top: 48px;
    bottom: 0;
    right: 0;
    width: 0;
    z-index: 1;
    background-color: white;
    box-shadow: -1px 0 17px #00000045;
    transition: width .2s;
    user-select: none;
}