.nav{
	height: 36px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.left{
    float: left;
    left: 0px;
    transition: 0.3s;
}
.left.active{
    left: 300px;
}
@media screen and (max-width: 640px) {
    .left.active{
        display: none;
    }
}
@media screen and (max-width: 340px) {
    .left{
        display: none;
    }
}

.right{
    float: right;
}

.material-icons{
	padding: 12px;
	cursor:pointer;
	color:#4f4d56;
	transition: color 0.4s;
	user-select: none;
}
.material-icons:hover{
    background-color: #ffffff30;
}

#searchInput{
    border: none;
    background: none;
    font-size: 14px;
}
#searchInput:focus{
    border: none;
    background-color: #ffffff30;
    outline-color: #0000;
}


.sidebar {
    position: absolute;
    left: -300px;
    width: 300px;
    height: 100vh;
    z-index: 1;
    background-color: white;
    box-shadow: -1px 0 17px #00000045;
    transition: left 0.3s;
    user-select: none;
    overflow-y: auto;
}
.sidebar.show {
    left: 0;
}

.listheader{
    font-size: .88em;
    font-weight: 700;
    color: #3c4045;
    text-transform: uppercase;
    padding: 10px 15px;
}

.listitem{
    font-weight: 100;
    list-style-type: none;
    padding: 20px 10px 0 10px;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.listitem:hover>p{
    font-weight: bold;
}

.listitem>p{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.listitem>i{
    padding: 0;
}
.listmenu{
    font-size: 12px;
    text-transform: initial;
    list-style-type: none;
    font-weight: lighter;
    display: none;
    visibility: hidden;
    transition: visibility 3s;
}
.listmenu>li:hover{
    font-weight: bold;
    cursor:pointer;
}

#socialmenu {
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 344px;
    right: 12px;
    top: 36px;
}
#socialmenu.show {display: block;}

#alertmenu {
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 344px;
    right: 60px;
    top: 36px;
}
#alertmenu.show {display: block;}

#modulemenu {
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 344px;
    right: 108px;
    top: 36px;
}
#modulemenu.show {display: block;}